@import '../global';

.about-us__portrait {
  max-width: 100%;
  @include av-mq(thumb) {
    display: none;
  }
}

.about-us__spiel {
  padding: 65px 0;
  @include av-mq(thumb) {
    padding: 0 0 45px 0;
  }
}

  .about-us__subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: left;
    @include av-mq(thumb) {
      margin-top: 25px;
    }
  }

  .about-us__title {
    text-align: left;
    font-size: 2.3rem;
    margin-top: 0;
    margin-bottom: 25px;
  }

.about-us__text {
  padding: 0 20px;
  padding-left: 40px;
  @include av-mq(lap-and-up) {
    padding-left: 50px;
  }
}

.about-us__body {
  font-size: 18px;
  color: #747474;
}

.about-us__partner-img {
  max-width: 230px;
  padding: 20px;
  &--coach {
    padding: 5px 20px;
    transform: translateY(10px);
  }
}

.about-us__partner {
  margin: 0 auto;
  display: block;
  width: 460px;
  @include av-mq(thumb) {
    max-width: 230px;
  }
}
