.article {
  max-width: 768px;
  margin: 0 auto;
  padding: 60px 0;
}

.author__avatar {
 width: 40px;
 border-radius: 50%;
}

.article__meta {
  display: flex;
}

.article__author {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  & figcaption {
    padding-left: 10px;
  }
}
.article__date {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  &:before {
    content: "•";
    padding: 0 5px;
  }
}

.article__body {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 50px;
  p, ul {
    margin-bottom: 50px;
    ul {
      margin-bottom: 0;
    }
  }
  li {
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 25px;
  }
  h3 {
    margin-bottom: 10px;
  }
}
