@import '../global';

.our-services {
    .container {
      padding: 0 20px;
    }
  }

  .programs {
    text-align: left;
    ol {
      @include av-mq(thumb) {
        padding-left: 10px;
      }
    }
    li {
      margin: 30px 20px;
      @include av-mq(lap-and-up) {
        padding-right: 160px;
      }
    }
  }

  .our-services {
    padding: 65px 0;
  }

  .our-services__subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: left;
  }

  .our-services__title {
    text-align: left;
    font-size: 2.3rem;
    margin-top: 0;
    margin-bottom: 55px;
  }

  .our-services__body {
    margin-top: 30px;
    text-align: left;
    color: #747474;
    margin-bottom: 75px;
  }

  .our-services__service {
    background-color: #F1F1F1;
    padding: 10px 15px;
    margin-bottom: 45px;
    height: 350px;
    transition: background-color .3s ease-in;
    border-right: 5px solid #fff;
    &::last-of-type {
      border-right: none;
    }
  }

  .our-services__service-body {
    margin-top: 30px;
    text-align: left;
    color: #747474;
  }

  .our-services__service-icon {
    padding: 25px;
  }

  .our-services__service-desc {
    font-size: 1.2rem;
    text-align: left;
    height: 50px;
  }
