// Global Style
@import 'global/buttons';
@import 'global/fonts';
@import 'global/typography';

// Settings
@import 'settings/variables';

// Vendor Styles
@import 'vendor/avalanche';

body {
  font-size: 16px;
  font-family: $nunito;
}

a {
  color: deepskyblue;
  transition: color 0.3s ease-in;
  cursor: pointer;
  &:hover {
    color: lightskyblue;
  }
}

.wrapper {
  padding-top: 80px;
  overflow-x: hidden;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

input[type='submit'],
.button {
  padding: 10px 12px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: darken($grey, 30%);
  border-color: darken($grey, 30%);
  border-style: solid;
  color: white;
  transition: background-color 0.3s ease-in;
  &.button-primary {
    border-color: $mid-blue;
    background-color: $mid-blue;
    color: white;
  }
  &:hover {
    color: white;
    background-color: darken($grey, 20%);
    border-color: darken($grey, 30%);
    &.button-primary {
      background-color: lighten($mid-blue, 10%);
      border-color: $mid-blue;
    }
  }
}

.clearfix {
  clear: both;
}

.full-width {
  width: 100%;
}

.article__img {
  max-height: 400px;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 15px;
}
